@mixin flexIt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@import './index.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100&display=swap');

@font-face {
    font-family: "Kiona";
    src: url("/fonts/Kiona/Kiona-Regular.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url("/fonts/Metropolis/Metropolis-Thin.otf") format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "GmarketSans";
    src: url("/fonts/GmarketSans/GmarketSansBold.otf") format('opentype');
    font-display: swap;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000; }
}



body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'GmarketSans', sans-serif;
    font-size: 82px;
    line-height: 1.3em;
}

h2 {
    font-family: "Kiona";
    font-size: 24px;
}

h3 {
    font-family: "Metropolis";
    font-size: 20px;
}


h4 {
    font-family: "GmarketSans", sans-serif;
    font-size: 68px;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 300;
}
